body{
  height: 250vh;
  width: 100%;
  margin:0;
  padding:0vw 5%;
  background-color: black;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

h1{
  filter: drop-shadow(#a7a7a7 2px 2px);
  font-family: Impact;
  letter-spacing: 5px;
  box-sizing: padding-box;
  position: sticky;
  display: flex;
  justify-content: center;
  z-index: 2;
}

img{
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(#0000004d);
}

#Yi{
  position: absolute;
  display: flex;
  top: 19%;
  left: 43.5%;
  height: 10vh;
  width: 10vh;
}
#Yiimg{
  position: relative;
  max-width: 500%;
  max-height: 500%;
}

button{
  text-align: center;
  justify-content: center;
  background-color: #fff4b6;
  border: 1px solid #ffbb00;
  border-radius: 120px;
  box-shadow: inset 2px 2px 10px #0000003b;
  cursor: pointer;
  transition: background-color 3s ease; 
}
button:hover {
  background-color:#ffffff;
  animation: infinite 0.5s pulse;
}
@keyframes pulse {
  0%{transform: scale(1)}
  50%{transform:scale(1.05)}
  100%{transform:scale(1)}
}

#mainbody{
  padding: 0px 60px;
  position: absolute;
  height: 250vh;
  width: 800px;
  background-color: #f7f7f7;
  box-sizing: border-box;
}

#displaybox{
  height: 75vh;
  background-color: #ffedba6b;
  border: 1px solid #ffbb00;
  border-radius: 120px 120px 120px 120px;
  box-shadow: inset 5px 5px 10px #a7a7a7,
              inset -5px -5px 10px #f2f2f2;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
#displaybox2{
  margin-top: -140px;
  height: 100vh;
  background-color: #ffedba6b;
  border: 1px solid #ffbb00;
  border-radius: 60px 60px 120px 120px;
  box-shadow: inset 5px 5px 10px #a7a7a7,
              inset -5px -5px 10px #f2f2f2;
  padding: 13.5% 4%;
  box-sizing: content-box;
  justify-items: center;
}
#hexinfobox{
  height: 50%;
  width: 100%;
  background-color: #ffedba6b;
  border: 1px solid #ffbb00;
  display: grid;
  grid-template-columns: 50% 50%;
}
.infobox{
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #00000096;
}
#yijing{
  height: 50%;
  width: 100%;
  background-color: #ffedba6b;
  border: 1px solid #ffbb00;
}
#yijinganswer{
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #00000096;
}

#buttonbox{
  padding-top: 15px;
  top: -9vh;
  position: relative;
  height: 15vh;
  box-sizing: border-box;
  border: 1px solid #ffbb00;
  border-radius: 120px;
  background-color: #fff5db;
  box-shadow: inset 5px 5px 10px #a7a7a7,
              inset -5px -5px 10px #f2f2f2;
  justify-content: center;
}
.grid{
  display: grid;
  grid-template-columns: 30% 30%;
  grid-template-rows: 40% 40%;
  gap: 10% 18%;
}

#Reset{position:absolute;
  border:3px solid #ffda75;
  height: 8vh;
  width: 8vh;
  right: 8%;
}
#hextitle{
  
  margin-top: 10vh;
  border-radius: 30px;
  height: 7vh;
  width: 37%;
  border: 2px solid #0000002d;
  align-items: center;
  text-align: center;
  font-family: 'Lucida Sans', 'sans serif';
  font-size: 14px;
  font-weight: bold;
  color: #00000096;
  white-space: pre-wrap;
}
#thextitle{
  margin-top: 10vh;
  border-radius: 30px;
  height: 7vh;
  width: 37%;
  border: 2px solid #0000002d;
  text-align: center;
  font-family: 'Lucida Sans', 'sans serif';
  font-size: 14px;
  font-weight: bold;
  color: #00000096;
  white-space: pre-wrap;
}
.margin{
  margin: 15px
}
#linescontainer{
  top: 32vh;
  height: 40vh;
  width: 75%;
  position: absolute;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666%;
}
#barra{
  top: 31vh;
  position: absolute;
  border: 2px solid linear-gradient(to center, #ffedba6b #f1c449d5);
  background-color: linear-gradient(to center, #ffedba6b #f1c449d5);
  height: 42vh;
}
#barra2{
  top: 97.7vh;
  left: 49.7%;
  position: absolute;
  border: 2px solid #f1c449d5;
  height: 41.7vh;
}

.linha1{
  position:relative; top: 500%;}
.linha2{
  position:relative; top: 300%;}
.linha3{
  position:relative; top: 100%;}
.linha4{
  position:relative; top: -100%;}
.linha5{
  position:relative; top: -300%;}
.linha6{
  position:relative; top: -500%;}
.Tlinha1{
  position:relative; top: 500%;}
.Tlinha2{
  position:relative; top: 300%;}
.Tlinha3{
  position:relative; top: 100%;}
.Tlinha4{
  position:relative; top: -100%;}
.Tlinha5{
  position:relative; top: -300%;}
.Tlinha6{
  position:relative; top: -500%;}
.Yang{background-image: url(../public/img/Yang.png);
  background-size: 80% 110%;
  background-repeat: no-repeat;
  background-position: center;}
.Yin{background-image: url(../public/img/Yin.png);
  background-size: 80% 110%;
  background-repeat: no-repeat;
  background-position: center;}
.dYang{background-image: url(../public/img/dYang.png);
  background-size: 80% 110%;
  background-repeat: no-repeat;
  background-position: center;}
.dYin{
  background-image: url(../public/img/dYin.png);
  background-size: 80% 110%;
  background-repeat: no-repeat;
  background-position: center;
}